<div style="font-family: Helvetica, Arial, Sans-serif;">
  <p style="font-size:10pt;"><a href="%url%">%show_web%</a></p>
  <table style="background-color: #ffdd3e;">
    <tr>
      <td rowspan="3" valign="top">
	<img id="card" src="%image_location%" border="0" alt="Postcard" />
      </td>
      <td style="height:12px; font-size:12pt; font-style:italic; width:300px;">
	%show_from% %name_from% &lt;%email_from%&gt;
      </td>
    </tr><tr>
      <td style="height:12px; font-size:12pt; font-style: italic;">%show_to% %name_to%  &lt;%email_to%&gt;</td>
    </tr><tr>
      <td class="showmessage">Nachricht:
	<div class="showmessage" style="border:solid grey 1px; padding: 3px; height: 90%;background-color: #fff47e;">%message%</div>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right;">
	<a href="%url_reply%">%txt_reply%</a> | 
	<a href="%url_new%">%txt_new%</a>
      </td>
    </tr>
  </table>
  <p>
  <span style="color: #999999; margin-top: 6px; border-top: solid #DDDDDD 1px; font-size:8pt;">
    <a style="color: #666666;" href="http://simplecard.sourceforge.net/">simplEcard</a> - A simple, open source E-Card system
  </span>
  </p>
</div>